@model List<Project2_QLSVLDA.Models.CUOCHEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_layout.cshtml";
}

@{
    var db = new Project2_QLSVLDA.Models.QL_PROJECTEntities();

    string ses_sinhvien = Session["user"].ToString();

    var cuochen_allsystem = (from ch in db.CUOCHENs
                             join gv in db.GIANGVIENs on ch.magiaovien equals gv.magv
                             join svch in db.SINHVIENCUOCHENs on ch.macuochen equals svch.macuochen
                             select new
                             {
                                 ch.macuochen,
                                 ch.magiaovien,
                                 ch.thoigianbatdau,
                                 ch.thoigianketthuc,
                                 gv.ten,
                                 ch.tinhtrang,
                                 ch.diadiem,
                                 svch.thoigiandat,
                                 ch.ghichu,
                                 svch.masinhvien

                             }).ToList();

    var ds_lop_sv_hoc = (from lmh in db.LOPMONHOCs
                         join svmh in db.SINHVIENMONHOCs on lmh.malop equals svmh.malop
                         where svmh.mssv == ses_sinhvien
                         select lmh.magv).ToList();

    //var nhomKhacNhau = list_cuoc_hen.Select(item => item.malop).Distinct().ToArray();


    var list_cuoc_hen = cuochen_allsystem.Where(p => p.masinhvien.ToString().Trim() == ses_sinhvien).ToList();

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">

                    <li class="breadcrumb-item"><a href="@Url.Action("Index","GiaoVienHome")">Trang chủ</a></li>
                    <li class="breadcrumb-item">Tạo lịch hẹn</li>
                    @*<li class="breadcrumb-item"><a href="@Url.Action("Index","GVClass")">Danh sách cuộc hẹn</a></li>*@

                    @*<li class="breadcrumb-item active">Danh sách lớp</li>*@
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Tạo lịch hẹn</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">

                            <form method="post" action="/GiaoVienCuocHen/ActionName" onsubmit="return validateForm()">
                                <div class="form-group">
                                    <label for="start-date">Ngày hẹn</label>
                                    <input type="date" class="form-control" id="start-date" name="ngay">
                                </div>
                                <div class="form-group">
                                    <label for="start-time">Thời gian bắt đầu</label>
                                    <input type="time" class="form-control" id="start-time" name="giobatdau">
                                </div>

                                <div class="form-group">
                                    <label for="end-time">Thời gian kết thúc</label>
                                    <input type="time" class="form-control" id="end-time" name="gioketthuc">
                                </div>


                                <div class="form-group">
                                    <label for="location">Địa điểm</label>
                                    <input type="text" class="form-control" id="location" name="diadiem">
                                </div>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-md-1 col-md-7">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách cuộc hẹn đã tạo</h3>
                    </div>
                    <div class="card-body">
                        <!-- Nội dung của thẻ card "Calendar" -->
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ngày hẹn</th>
                                    <th>Bắt đầu</th>
                                    <th>Kết thúc</th>
                                    <th>Địa điểm</th>
                                    <th>Tùy chọn</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {

                                        foreach(var cuochen in Model) { 
                                <tr>
                                    <td>@cuochen.macuochen</td>
                                    <td>@cuochen.thoigianbatdau.Value.ToString("yyyy/MM/dd")</td>
                                    <td>@cuochen.thoigianbatdau.Value.ToString("HH:mm")</td>
                                    <td>@cuochen.thoigianketthuc.Value.ToString("HH:mm")</td>
                                    <td>@cuochen.diadiem</td>
                                    <td>
                                        @*<a href="/teacher/giaoviencuochen/capnhatcuochen/@cuochen.macuochen" class="btn btn-sm btn-primary">Sửa</a>*@
                                        @Html.ActionLink("Xóa", "XoaCuocHen", new { idmacuochen = cuochen.macuochen })
                                    </td>
                                </tr>
                 
                                        }

                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">Không có bản ghi nào</td>


                                    </tr>


                                }

                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th>id</th>
                                        <th>ngày hẹn</th>
                                        <th>bắt đầu</th>
                                        <th>kết thúc</th>
                                        <th>địa điểm</th>
                                    </tr>
                                </tfoot>*@

                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- /.container-fluid -->
</section>
<!-- /.content -->

@section CSS{

    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Content/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Content/plugins/dropzone/min/dropzone.min.css">

    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

@section JS{


    <!-- Select2 -->
    <script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/Content/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Content/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/Content/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/Content/plugins/dropzone/min/dropzone.min.js"></script>


    <!-- DataTables  & Plugins -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


    <!-- Page specific script -->
    <script>

        function validateForm() {
            var startDate = new Date(document.getElementById('start-date').value + ' ' + document.getElementById('start-time').value);
            var endDate = new Date(document.getElementById('start-date').value + ' ' + document.getElementById('end-time').value);

            if (!document.getelementbyid('start-date').value) {
                return false;
            }

            if (!document.getElementById('start-time').value) {
                return false;
            }

            if (!document.getElementById('end-time').value) {
                return false;
            }

            if (endDate <= startDate) {
                alert('End time must be after start time.');


                return false;
            }


            return true;
        }


        $(function () {

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });


    </script>
}

